.header {
  margin-top: 4em;
}

body {
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe\ UI\ Variable\ Text, Segoe\ UI, PingFang\ SC, HarmonyOS\ Sans\ SC, MiSans, Source\ Han\ Sans\ SC, Noto\ Sans\ CJK\ SC, Microsoft\ YaHei\ UI, Microsoft\ YaHei, sans-serif;
  font-optical-sizing: auto;
}

code,
kbd,
pre,
.highlight,
.post-updated-at {
  font-family: ui-monospace, Cascadia\ Code, Cascadia\ Mono, Segoe\ UI\ Mono, Consolas, monospace;
}
